/* variables */
:root {

    /* color variables*/
    --button-hover-color: #0056b3;
    --website-background-color:  #2c2c2c;
}

/* general styles */
* {
    font-family: 'Helvetica', Arial, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--website-background-color); 
    color: white;
    line-height: 1.6;
    font-size: 16px;
}

/* main content styling */
main {
    padding: 45px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

header {
    /* header visuals */
    background-color: #1c1c1c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* item positioning */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    /* header sizing */
    width: 100%;
    height: 45px;
    position: fixed;
    z-index: 10;
}

/* footer styles */
footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

a {
    /* removes underline from anchors */
    text-decoration: none;
}

/* button styling */
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}
button:hover {
    background-color: var(--button-hover-color);
}

/* general classes */
.title {
    font-size: 24px;
    color: white;
    font-family: 'Helvetica Neue', Courier, monospace;
}

.main-title {
    font-size: 24px;
    color: white;
    font-family: 'Helvetica', Courier, monospace;   
    filter: drop-shadow(-2px 0px 2px gray);
}