.error-page {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

/* basic styling for login and register page anchor nav */
.login-register-page-nav {
    color: #4fa3f7;
    text-decoration: none;
}

.login-register-page-nav:hover {
    color: #1e3a8a;
}

.deleted-button {
    background-color: red;
}
.deleted-button:hover {
    background-color: darkred;
}

/* scrollable container for data table obtained from flask */
.scrollable-container {

    /* fill the container */
    width: 100%;
    height: 100%;

    /* allow scrolling */
    overflow: auto;

    /* border */
    box-sizing: border-box;
    
}

.darkbox-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border: 2px solid #1c1c1c;
}

.whatweoffer-list {
    list-style-type: none;
    padding-left: 0;
}

.whatweoffer-list li {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.tutorialimg {
    max-width: 70%;       
    height: auto;      
    display: block;       
    margin: 0 auto;        
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.tutorialstepnumber {
    font-size: 1em;
    color: #007BFF;
    margin-right: 10px;
}

.nav-title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #1c1c1c;
    font-weight: bold;
}
