{% extends 'layout.html' %}

{% block title %} Visualize About {% endblock %}

{% block content %}
<h1 class="home-title">About Visualizze</h1>
<p>
    Welcome to Visualizze! The purpose of this webapp is to be used as a tool for those looking to easily visualize their data.
    However, it is mainly targeted towards data professionals, who are familiar with all the different factors related to creating 
    a meaningful visual. But this doesnt mean it cant be used by non-professionals as well!
</p>

<p>
    Using our easy to navigate interface, you can simply upload your .csv or .xlsx data file, 
    select the data columns you wish to visualize, and then leave the rest to us!. Once our various plots are generated we will
    send them right to you for you to choose from, where you can then download the visual for your own personal use!
</p>

<p>
    Please do note though that we try our best to process your data before visualization. However, this can prove a little 
    difficult sometimes. So please, do try to upload data that has already been cleaned and processed as much as possible, 
    in order for us to be able to generate you a satisfying visualization!
</p>

<br>

<h2>What we offer</h2>
<div class="whatweoffer-container">
    <ul class="whatweoffer-list">
        <li>A data visualizer tool that can generate various unique visualization</li>
        <li>The ability to download these visuals for your personal use</li>
        <li>If you have an account, you will have the ability to save your datasets to the server.</li>
        <li>If you have an account, you can access your saved datasets and reports at anypoint.</li>
    </ul>
</div>

<br>

<p>
    Our goal is to make data analysis and visualization as easy and accessible as possible, 
    whether you're a data professional or someone just starting to explore the world of data!
</p>

<p>
    Thank you for using Visualizze.
</p><br>
<p>
    &copy; Visualizze
</p>
{% endblock %}