{% extends 'layout.html' %}

{% block title %} Visualize Home {% endblock %}

{% block content %}

<div class="dashboard">

    <!-- DATA SECTION -->
    <div class="dashboard-section">
        <!-- section title-->
        <div class="dashboard-section-title">
            <h2>Data</h2>
        </div>

        {% if session.get('user_id') and session.get('show-save-request-form') and allow_saving %}
        <div class="save-this-dataset anim">
            <form method="POST" id="saveDatasetForm">
                <p>Would you like to save this dataset your saved datasets?
                    <button type="submit" name="save_dataset" value="yes" style="margin: 5px;">Yes</button>
                    <button type="submit" name="save_dataset" value="no" style="margin: 5px;">No</button>
                </p>
            </form>
        </div>
        {% endif %}

        {% if not allow_saving %}
        <!-- inform the user if save limit has been reached -->
        <div>
            <p>You have reached your limit for saving datasets. You may delete saved datasets <a class="login-register-page-nav" href="{{ url_for('history') }}">here</a>.</p>
            <button type="button" onclick="this.parentElement.style.display='none';" style="margin: 5px;">Hide</button>
        </div>
        {% endif %}
        

        <!-- html table of data uploaded -->
        <div class="scrollable-container">
            {{ table_html|safe }}
        </div>

        <!-- drop down selectors for column selection -->
        <form action="/dashboard" method="POST" class="column-select-form">
            <div class="dashboard-section-dropdown">
                <label for="columnx">Column X</label>
                <select id="columnx" name="columnx">
                    <option value="" selected>col_x</option>
                    {% for col in data_report['col names'] %}
                        <option value="{{ col }}">{{ col }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="columny">Column Y</label>
                <select id="columny" name="columny">
                    <option value="" selected>col_y</option>
                    {% for col in data_report['col names'] %}
                        <option value="{{ col }}">{{ col }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <button type="submit" name="visualize">Visualize</button>
        </form>
    </div>
    
    <!-- MAIN VISUAL SECTION -->
    <div class="dashboard-section v">
        <!-- section title-->
        <div class="dashboard-section-title">
            <h2>Visual</h2>
        </div>

        <!-- main visual section -->
        <!-- the class here is for js rather than css -->
        <div class="dashboard-main-visual">
            {% if visual %}
                <img class="main-visual" src="data:image/png;base64,{{ visual }}" alt="No visual recommended"/>
            {% else %}
                <p>No visual generated yet</p>
            {% endif %}
        </div>
    </div>

    <!-- DATA REPORT SECTION -->
    <div class="dashboard-section dr">
         <!-- section title-->
         <div class="dashboard-section-title">
            <h2>Data Report</h2>
        </div>

        <!-- data report section -->
        <div class="dashboard-data-report">
            <div class="scrollable-container">

                <h3>File Name</h3>
                {{ file_name }}<br><br>

                <h3>Data Shape</h3>
                <p>Column Num: {{data_report['col num']}}</p>
                <p>row Num: {{data_report['row num']}}</p><br>

                <h3>Data Types</h3>
                {{col_data_html|safe}}<br><br>
                
                <!-- Column Names: {{ col_names }}<br>
                Column Data Types: {{ data_types }}<br>
                Column Number: {{ col_num }}<br>
                Row Number: {{ row_num }}<br> -->
                
            </div>
        </div>
    </div>

    <!-- OTHER VISUALS SECTION -->
    <div class="dashboard-section ov">

        <!-- section title -->
        <div class="dashboard-section-title">
            <h2>Other Visuals</h2>
        </div>

        <!-- other visuals select section -->
        <div class="scrollable-container">
            <div class="dashboard-section-visual-select">
                {% if encoded_visuals %}
                    {% for altvisual in encoded_visuals %}
                        <div class="visual-button" data-visual="{{ altvisual }}">
                            <img src="{{ altvisual }}" alt="Visual">
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No visuals generated yet</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
