{% extends 'layout.html' %}

{% block title %} Visualize Home {% endblock %}

{% block content %}

<h1>Dashboard</h1>
<div class="dashboard">
    
    <div class="dashboard-section">
        <!-- section title-->
        <div class="dashboard-section-title">
            <h2>Data</h2>
        </div>

        <!-- html table of data uploaded -->
        <div class="scrollable-container">
            {{ table_html|safe }}
        </div>

        <!-- drop down selectors for column selection -->
        <form action="/dashboard" method="POST">
            <div class="dashboard-section-dropdown">
                <label for="columnx">Column X</label>
                <select id="columnx" name="columnx">
                    <option value="" disabled selected>col_x</option>
                    {% for col in col_names %}
                        <option value="{{ col }}">{{ col }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="columny">Column Y</label>
                <select id="columny" name="columny">
                    <option value="" disabled selected>col_y</option>
                    {% for col in col_names %}
                        <option value="{{ col }}">{{ col }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="columnz">Column Z</label>
                <select id="columnz" name="columnz">
                    <option value="" disabled selected>col_z</option>
                    {% for col in col_names %}
                        <option value="{{ col }}">{{ col }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Visualize</button>
        </form>
    </div>
    
    <div class="dashboard-section">
        <!-- section title-->
        <div class="dashboard-section-title">
            <h2>Visual</h2>
        </div>
        <div class="dashboard-main-visual">
            {% if visual %}
                <img src="data:image/png;base64,{{ visual }}" alt="No visual recommended"/>
            {% else %}
                <p>No visual generated yet</p>
            {% endif %}
        </div>
    </div>

    <div class="dashboard-section">
         <!-- section title-->
         <div class="dashboard-section-title">
            <h2>Data Report</h2>
        </div>

        <!-- data report section -->
        <div class="dashboard-data-report">
            <div class="scrollable-container">
                Column Names: {{ col_names }}<br>
                Column Data Types: {{ data_types }}<br>
                Column Number: {{ col_num }}<br>
                Row Number: {{ row_num }}<br>
                File Name: {{ file_name }}<br>
            </div>
        </div>
    </div>
    <div class="dashboard-section">
        <!-- section title-->
        <div class="dashboard-section-title">
            <h2>Other Visuals</h2>
        </div>
        <div class="dashboard-section-visual-select">
            <img src="{{url_for('static', filename='img/graph.png')}}">
            <img src="{{url_for('static', filename='img/graph.png')}}">
            <img src="{{url_for('static', filename='img/graph.png')}}">
            <img src="{{url_for('static', filename='img/graph.png')}}">
            <img src="{{url_for('static', filename='img/graph.png')}}">
            <img src="{{url_for('static', filename='img/graph.png')}}">
            <img src="{{url_for('static', filename='img/graph.png')}}">
            <img src="{{url_for('static', filename='img/graph.png')}}">
            <img src="{{url_for('static', filename='img/graph.png')}}">
        </div>
    </div>
</div>

{% endblock %}
