{% extends 'layout.html' %}

{% block title %} Visualize Services {% endblock %}

{% block content %}
<h1 class="home-title">Your Saved Data Sets</h1>
    
{% if message %}
    <p>{{ message }}</p>
{% else %}
    <div class="scrollable-container">
        <table class="html-table" border="1">

            <!-- add table headers -->
            <thead>
                <tr>
                    {% for column in table_columns %}
                        <th>{{ header_names[column] }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>

            <!-- add table data from backend -->
            <tbody>
                {% for data_set in saved_data_set_rows %}
                    <tr>
                        {% for column in table_columns %}
                            <td>{{ data_set[column] }}</td>
                        {% endfor %}

                        <!-- add a column that contains a button to send the data to the saved_data_set_id to the history route -->
                        <!-- the history route will then set the dataset_id in the session -->
                        <td>
                            <form action="{{ url_for('history') }}" method="post">
                                <input type="hidden" name="saved_data_set_id" value="{{ data_set['saved_data_set_id'] }}">
                                <button type="submit">Send to visualizer</button>
                            </form>
                            <form action="{{ url_for('history') }}" method="post">
                                <input type="hidden" name="saved_data_set_id" value="{{ data_set['saved_data_set_id'] }}">
                                <input type="hidden" name="delete_dataset" value="true"> <!-- Added to identify delete action -->
                                <button type="submit" class="deleted-button">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="
        margin-top: 10px;
        font-weight: bold;
    ">
    </div>
    <p>
        &copy; Visualizze
    </p>
{% endif %}
{% endblock %}
