{% extends 'layout.html' %}

{% block title %} Visualize Home {% endblock %}

{% block content %}

<!-- MAIN TITLE -->
<div class="home-title">
    <h1 style="font-size: 40px;">Welcome  {{ username }}</h1>
    <h2 style="font-size: 20px;">Select an option below</h2>
</div>

<!-- NAVIGATION -->
<div class="navgrid-container">
    <a href="{{ url_for('visualize') }}" class="navgrid-item visualizer">
        <div class="navgrid-item-text">Visualizer</div>
    </a>

    <!-- MUST BE LOGGED IN TO ACCESS -->
    {% if session.get('user_id') %}
    <a href="{{ url_for('history')}}" class="navgrid-item save-history">
        <div class="navgrid-item-text">Saved Datasets History</div>
    </a>
    {% else %}
    <a href="{{ url_for('login')}}" class="navgrid-item save-history">
        <div class="navgrid-item-text">Saved Datasets History</div>
    </a>
    {% endif %}
    
    <a href="{{ url_for('tutorial') }}" class="navgrid-item tutorial">
        <div class="navgrid-item-text">Tutorial</div>
    </a>
    <a href="{{ url_for('about') }}" class=" navgrid-item about">
        <div class="navgrid-item-text">About</div>
    </a>
</div>
<br>
<p>
    &copy; Visualizze
</p>
{% endblock %}
