<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visualizze</title>

    <!-- links to the css files in static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='visualize.css') }}?v={{ v }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}?v={{ v }}">

    <!-- page icon -->
    <link rel="icon" href="{{ url_for('static', filename='v-icon.ico') }}" type="image/x-icon"> 
</head>
<body>
    <!-- header Section -->
    <header>
        <div class="left-header">
            <!-- Menu button, runs toggleMenu when clicked -->
            <div class="menu-icon" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <!-- page title -->
            <h1 class="title">Visualizze</h1>
        </div>

        <!-- navigation objects -->
        <div>
            {% if session.get('user_id') %}
                <!-- if logged in, show the logout button -->
                <a href="{{ url_for('logout') }}" class="btn">Logout</a>
            {% else %}
                <!-- if not logged in, show the login and register buttons -->
                <a href="{{ url_for('login') }}" class="btn">Login</a>
                <a href="{{ url_for('register') }}" class="btn">Register</a>
            {% endif %}
        </div>
    </header>

    <!-- Sliding menu, when menu button clicked -->
    <div id="menu" class="menu">
        <!-- menu content, using flask url_for to get route renders -->
        <a href="{{ url_for('visualize') }}">Visualize</a>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('services') }}">Services</a>
    </div>


    <!-- main content section, for template extensions -->
    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <!-- footer section -->
    <footer>
        <p>&copy; Omar Mansour</p>
    </footer>
    
    <!-- scripts -->
    <!-- links to the js files in static -->
    <script src="{{ url_for('static', filename='visualize.js') }}"></script>
    <script src="{{ url_for('static', filename='drag-and-drop.js') }}"></script>
</body>
</html>
