{% extends 'layout.html' %}

{% block title %} Visualize Login Page {% endblock %}

{% block content %}
<h1>Register an Account</h1>
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
<form method="POST" action="/register">
    <!-- username input -->
    <div>
        <p>Username</p>
        <input id="username" name="username" type="text" required>
    </div>

    <!-- email input -->
    <div>
        <p>Email <span style="font-style: italic; color: gray;">(optional)</span></p>
        <input id="email" name="email" type="email">
    </div>

    <!-- password input -->
    <div>
        <p>Password</p>
        <input id="password" name="password" type="password" required>
    </div>

    <!-- confirm password input -->
    <div>
        <p>Confirm Password</p>
        <input id="confirm-password" name="confirm-password" type="password" required>
    </div>

    <!-- login nav -->
    Already have an account?<br> <a class="login-register-page-nav" href="{{ url_for('login')}}">login</a> here.

    <!-- submit button -->
    <div>
        <button id="register-button" type="submit">Register</button>
    </div>
</form>
{% endblock %}